@charset "UTF-8";
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* CSS Toggle Switch
 * @author Ricardo Magalhães
 *
 * @usage
 * <input type="checkbox" id="checkMe" class="toggle-switch">
 * <label for="checkMe"></label>
 *
 * @options
 * Change {$totalWidth} to the desired width, everything else
 * should adjust accordingly.
 */
/* line 45, ../scss/_toggle.scss */
.toggle-switch {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
/* line 46, ../scss/_toggle.scss */
.toggle-switch * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 55, ../scss/_toggle.scss */
.toggle-switch + label {
  -moz-transition: background 0.4s ease-in-out 0s;
  -o-transition: background 0.4s ease-in-out 0s;
  -webkit-transition: background 0.4s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: background 0.4s ease-in-out 0s;
  background-color: #ccc;
  border-radius: 150px;
  cursor: pointer;
  display: block;
  position: relative;
  outline: none;
  width: 150px;
  height: 75px;
}
/* line 67, ../scss/_toggle.scss */
.toggle-switch + label:before, .toggle-switch + label:after {
  display: block;
  font-family: sans-serif;
  position: absolute;
  content: "";
}
/* line 75, ../scss/_toggle.scss */
.toggle-switch + label:before {
  -moz-transition: text-indent 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -o-transition: text-indent 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -webkit-transition: text-indent 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-delay: 0s;
  transition: text-indent 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  top: 6px;
  left: 6px;
  bottom: 6px;
  right: 6px;
  border-radius: 150px;
  content: "OFF";
  padding-top: 15px;
  font-size: 27px;
  color: #818181;
  text-indent: 66px;
}
/* line 95, ../scss/_toggle.scss */
.toggle-switch + label:after {
  -moz-transition: margin 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -o-transition: margin 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -webkit-transition: margin 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-delay: 0s;
  transition: margin 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  background-color: #fff;
  border-radius: 150px;
  top: 12px;
  left: 12px;
  bottom: 12px;
  width: 48px;
  height: 48px;
}

/* line 111, ../scss/_toggle.scss */
.toggle-switch:hover + label:after {
  transform: scale(1.1);
}

/* line 116, ../scss/_toggle.scss */
.toggle-switch:checked + label {
  background: #499700;
}
/* line 119, ../scss/_toggle.scss */
.toggle-switch:checked + label:before {
  content: "ON";
  color: #fff;
  text-indent: 24px;
}
/* line 125, ../scss/_toggle.scss */
.toggle-switch:checked + label:after {
  margin-left: 78px;
}

/* line 131, ../scss/_toggle.scss */
.toggle-switch:active + label:after {
  left: 3px;
}

/* line 135, ../scss/_toggle.scss */
.toggle-switch:active:checked + label:after {
  left: 18px;
}

/* line 4, ../scss/main.scss */
body {
  font-family: sans-serif;
  line-height: 1.5;
  max-width: 40em;
  margin: 0 auto;
}

/* line 11, ../scss/main.scss */
h1 {
  font-size: 2em;
  margin: 0.6em 0;
  border-bottom: 1px solid #333;
}

/* line 17, ../scss/main.scss */
h2 {
  font-size: 1.5em;
  margin: 0.3em 0;
}
